---
import { FOOTER_CONTENT } from "../config";
---

<footer class="bg-gradient-to-t from-orange-50">
  <div class="flex flex-row items-center justify-center max-w-screen-md h-96 mx-auto px-4 sm:px-6">
    <p
      class="text-4xl leading-[60px] bg-clip-text text-center text-transparent bg-gradient-to-r from-orange-600 to-amber-600 font-title font-black"
    >
      {FOOTER_CONTENT}
    </p>
  </div>
</footer>
