---

---

<footer class="bg-gradient-to-t from-orange-50">
  <div class="flex flex-row items-center justify-center max-w-screen-md h-96 mx-auto px-4 sm:px-6">
    <p
      class="text-4xl bg-clip-text text-center text-transparent bg-gradient-to-r from-orange-600 to-amber-600 font-title font-black"
    >
      从零创建一家十亿美金的独角兽
    </p>
  </div>
</footer>
