---
import { SITE_LOGO, SITE_TITLE } from "../config";
import Menus from "./menus.astro";
---

<header
  class="sticky z-50 top-0 bg-white/80 backdrop-blur-xl transition-all select-none bg-gradient-to-b from-orange-50"
>
  <div class="flex flex-row gap-8 items-center justify-between max-w-screen-md mx-auto h-24 px-4 sm:px-6">
    <a href="/" class="flex flex-row items-center justify-center gap-2">
      <img src={SITE_LOGO} alt="author avatar" class="w-10 rounded-full aspect-square" />
      <span class="text-orange-600 font-title font-black">{SITE_TITLE}</span>
    </a>
    <Menus />
  </div>
</header>
