---
import { MENUS } from "../config";
---

<div class="flex flex-row gap-4">
  {
    MENUS.map((item) => (
      <a href={item.link} target={item.target} class="h-full text-sm hover:text-orange-700">
        {item.title}
      </a>
    ))
  }
</div>
