---
type Props = {
  tag: string;
};

const { tag } = Astro.props;
---

<a
  href={`/tags/${encodeURI(tag)}`}
  target="_self"
  class="px-2.5 py-1 rounded-lg text-xs text-red-600 font-medium bg-red-50/80 capitalize"
>
  {tag}
</a>
